<template>
  <div class="container-fluid">
    <div class="card bg-transparent text-white">
      <div class="card-body">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" v-model="filter" placeholder="Type to Search"/>
            <div class="input-group-addon">
              <button class="btn btn-secondary" :disabled="!filter" @click="filter = ''">Clear</button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-dark">
            <tbody>
            <tr v-for="item in items" v-bind:key="item.slug">
              <td>
                <a class="table-link" @click="openPractice(item.slug)">
                  {{ item.title }} <br/>
                  <small>{{ item.type }}</small>
                </a>
              </td>
              <td class="favorite-column">
                <a @click="addToFavorites(item.id)" v-if="!item.favorite">
                  <i class="fa fa-star-o"></i>
                </a>
                <a @click="removeFromFavorites(item.id)" v-if="item.favorite">
                  <i class="fa fa-star"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
          <br/>
          <div class="text-center app-pagination">
            <button @click="changePage(1)" v-if="+currentPage !== 1" class="btn btn-sm btn-secondary"
                    title="Go to page 1"><strong>1</strong></button>
            <button v-if="1 < currentPage - 2" class="btn btn-sm btn-secondary" type="button" disabled>
              <strong>...</strong></button>
            <button @click="changePage(currentPage - 1)" v-if="currentPage - 1 > 1" class="btn btn-sm btn-secondary"
                    title=""><strong>{{ currentPage -1 }}</strong></button>
            <button class="btn btn-sm btn-info" type="button"><strong>{{ currentPage }}</strong></button>
            <button @click="changePage(+currentPage + 1)" v-if="currentPage < lastPage"
                    class="btn btn-sm btn-secondary" title=""><strong>{{ +currentPage + 1 }}</strong></button>
            <button v-if="lastPage > +currentPage + 2" class="btn btn-sm btn-secondary" type="button" disabled>
              <strong>...</strong></button>
            <button @click="changePage(lastPage)" v-if="+currentPage + 1 < lastPage" class="btn btn-sm btn-secondary"
                    title=""><strong>{{ lastPage }}</strong></button>
          </div>
          <div class="text-center">
            <button class="btn btn-secondary category-button" @click="$router.push('/categories')">Categories</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import store from '../store'

export default {
  name: 'Category',
  data () {
    return {
      category: '',
      system: '',
      filter: '',
      isBusy: true,
      totalRows: 0,
      perPage: 5,
      currentPage: 1,
      lastPage: 1,
      downloading: false,
      fields: [
        {
          key: 'title',
          label: 'Title',
          sortable: true
        },
        {
          key: 'system',
          label: 'System',
          sortable: true
        },
        {
          key: 'type',
          label: 'Type',
          sortable: true
        },
        {key: 'actions', label: 'Actions'}
      ],
      items: []
    }
  },
  methods: {
    countData () {
      let component = this
      return new Promise((resolve) => {
        component.$db.practices.filter(function (practice) {
          if (component.category === 'all') {
            return practice.title.toString().includes(component.filter)
          }
          if (component.category === 'favorites') {
            return practice.title.toString().includes(component.filter) && practice.favorite === true
          }
          return practice.title.toString().includes(component.filter) && (practice.type === component.category || practice.system === component.category)
        }).count().then(function (value) {
          resolve(value)
        })
      })
    },
    addToFavorites (id) {
      let component = this
      this.$db.practices.update(id, {
        favorite: true
      }).then(() => {
        this.setVariables(component.currentPage)
      })
    },
    removeFromFavorites (id) {
      let component = this
      this.$db.practices.update(id, {
        favorite: false
      }).then(() => {
        this.setVariables(component.currentPage)
      })
    },
    loadData (page = 1) {
      let component = this
      return new Promise((resolve) => {
        let offset
        if (page === 1) {
          offset = 0
        } else {
          offset = (page - 1) * component.perPage
        }
        component.$db.practices.orderBy('title').filter(function (practice) {
          if (component.category === 'all') {
            return practice.title.toString().includes(component.filter)
          }
          if (component.category === 'favorites') {
            return practice.title.toString().includes(component.filter) && practice.favorite === true
          }
          return practice.title.toString().includes(component.filter) && (practice.type === component.category || practice.system === component.category)
        }).offset(offset).limit(component.perPage).toArray(function (values) {
          resolve(values)
        })
      })
    },
    setVariables (page) {
      let component = this
      component.currentPage = page
      this.countData().then(function (value) {
        console.log('Entries counted', value)
        component.totalRows = value
        component.lastPage = (value % component.perPage) ? Math.floor(value / component.perPage) + 1 : Math.floor(value / component.perPage)
        component.isBusy = false
        component.loadData(page).then(function (values) {
          component.items = values
        })
      })
    },
    openPractice (slug) {
      store.commit('setLastPage', '/category/' + this.category + '/' + this.currentPage)
      store.commit('setSearchTerm', this.filter)
      this.$router.push('/practice/' + slug)
    },
    changePage (page) {
      this.currentPage = page
      this.$router.push('/category/' + this.category + '/' + page)
    },
    synchronize () {
      this.$router.push('/')
    },
    calculatePagination () {
      let placeForTable = document.documentElement.clientHeight - 160
      let maxRows = Math.floor(placeForTable / 62)
      this.perPage = maxRows
      console.log(maxRows, document.documentElement.clientHeight)
    },
    runSwipeListeners () {
      let component = this
      document.addEventListener('swiped-right', function (e) {
        if (parseInt(component.currentPage) > 1) {
          console.log('Switching page to ' + (+component.currentPage - 1))
          component.changePage(component.currentPage - 1)
        } else {
          component.currentPage = 0
          component.$router.push('/categories')
        }
      })
      document.addEventListener('swiped-left', function (e) {
        if (component.currentPage > 0 && parseInt(component.currentPage) !== parseInt(component.lastPage)) {
          console.log('Switching page to ' + (+component.currentPage + 1))
          component.changePage(+component.currentPage + 1)
        }
      })
    }
  },
  mounted () {
    this.calculatePagination()
    this.category = this.$route.params.slug
    this.currentPage = 1
    if (store.state.searchTerm) {
      this.filter = store.state.searchTerm
    }
    if (this.$route.params.page) {
      this.currentPage = parseInt(this.$route.params.page)
    }
    this.setVariables(this.currentPage)
    this.runSwipeListeners()
  },
  watch: {
    currentPage: function (newPage) {
      let component = this
      component.loadData(newPage).then(function (values) {
        component.items = values
      })
    },
    filter: function () {
      store.commit('setSearchTerm', this.filter)
      this.setVariables(1)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  body {
    max-width: 100vw;
  }

  td, th {
    font-size: 12px !important;
  }

  .practiceContent {
    text-align: justify;
  }
</style>
