<template>
  <div class="container-fluid">
    <div class="card bg-transparent text-white">
      <div class="card-body main-card row">
        <div class="align-self-center">
          <div class="row">
            <div class="col-6">
              <div class="card category-box exercise-bg" @click="goToCategory('Exercise')">
                <div class="card-body row text-center">
                  <div class="align-self-center text-center">Exercises</div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card category-box invocation-bg" @click="goToCategory('Invocation')">
                <div class="card-body row text-center">
                  <div class="align-self-center text-center">Invocations</div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card category-box meditation-bg" @click="goToCategory('Meditation Technique')">
                <div class="card-body row text-center">
                  <div class="align-self-center text-center">Meditation Techniques</div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card category-box ritual-bg" @click="goToCategory('Ritual')">
                <div class="card-body row text-center">
                  <div class="align-self-center text-center">Rituals</div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card category-box favorite-bg" @click="$router.push('/category/favorites')">
                <div class="card-body row text-center">
                  <div class="align-self-center text-center">
                    Favorites
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card category-box all-bg" @click="$router.push('/category/all')">
                <div class="card-body row text-center">
                  <div class="align-self-center text-center">All</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import store from '../store'

export default {
  name: 'Categories',
  data () {
    return {
      categories: []
    }
  },
  methods: {
    changePage (page) {
      this.currentPage = page
    },
    synchronize () {
      this.$router.push('/')
    },
    loadData () {
      let component = this
      this.$db.practices.orderBy('type').uniqueKeys(function (keysArray) {
        component.categories = keysArray
      })
    },
    goToCategory (category) {
      store.commit('setLastPage', '/categories')
      this.$router.push('/category/' + category)
    },
    runSwipeListeners () {
      document.removeEventListener('swiped-right', function (e) {
        console.log('Swipe Right Disabled')
      })
      document.removeEventListener('swiped-left', function (e) {
        console.log('Swipe Left Disabled ')
      })
    }
  },
  mounted () {
    store.commit('setSearchTerm', '')
    this.runSwipeListeners()
    this.loadData()
  },
  watch: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  .exercise-bg {
    background: url('../assets/img/exercise.jpg');
  }

  .invocation-bg {
    background: url('../assets/img/invocation.jpg');
  }

  .meditation-bg {
    background: url('../assets/img/meditation.jpg');
  }

  .ritual-bg {
    background: url('../assets/img/ritual.jpg');
  }

  .favorite-bg {
    background: url('../assets/img/favorites.jpg');
  }

  .all-bg {
    background: url('../assets/img/all.jpg');
  }

  .category-box {
    background-color: #464646;
    height: 20vh;
    margin-bottom: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
    font-weight: bold;
    text-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 6px #000;
    -moz-box-shadow: 0 0 6px #000;
    box-shadow:  0 0 6px #000;
  }

  .category-box div div {
    margin: 0 auto;
  }

  .card {
    border: 0px transparent solid !important;
  }

  .main-card {
    height: 100vh;
    margin-left: 5px;
    margin-right: 5px;
  }
</style>
