<template>
  <div class="container h-100">
    <div class="row bg-black bg-logo" style="height: 100vh">
      <div class="col-12 align-self-center text-center" v-if="offlineMode === false">
        <h5 v-if="downloading">Downloading...</h5>
        <h5 v-if="downloading === false" class="on-white-bg">Sync Finished!</h5>
        <div class="progress">
          <div class="progress-bar" role="progressbar" :style="'width: ' + percent +'%;'" :aria-valuenow="percent"
               aria-valuemin="0" aria-valuemax="100">{{ percent }}
          </div>
        </div>
        <br/>
        <small>{{ offlineCount }} entries</small> <br />
        <br />
        <button class="btn btn-transparent" @click="goToRepo()" v-if="downloading === false || offlineMode === true">Open Repository</button>
        <br/><br/>
        <!--
        <section style="position: fixed; bottom: 5px; left: 0px; width: 100%;" v-if="downloading === false">
          <button style="margin: 0 auto;" class="btn btn-xs btn-danger resync-button" @click="resynchronize()" >Resynchronize All
          </button>
        </section>
        -->
      </div>
      <div class="col-12 align-self-center text-center" v-if="offlineMode === true">
        <h5>Phone Offline</h5>
        <small>Sync is unavailable</small><br /><br />
        <button class="btn btn-transparent" @click="goToRepo()" v-if="downloading === false">Open Repository</button>
      </div>
    </div>
  </div>
</template>

<script>
function fillDatabaseWithResponse (response, component, favorites = []) {
  for (let p = 0; p <= response.data.length - 1; p++) {
    var entry = response.data[p]
    component.$db.practices.put({
      id: entry.id,
      title: entry.title,
      slug: entry.slug,
      content: entry.content,
      system: entry.system,
      type: entry.type,
      favorite: favorites.includes(entry.slug)
    }).then(function () {
      console.log('Entry added')
    })
  }
}

function checkOnlineCount (component) {
  return component.axios.get(component.countEndpoint, {})
}

async function downloadData (component, favorites = []) {
  component.downloading = true
  console.log('OFFLINE', component.offlineCount, 'ONLINE', component.onlineCount)
  if (component.offlineCount >= component.onlineCount) {
    component.percent = 100
    component.downloading = false
    return
  }

  let diff = component.onlineCount - component.offlineCount
  let requestsAmount = (diff % 10) ? Math.floor(diff / 10) + 1 : Math.floor(diff / 10)

  for (let i = 0; i <= requestsAmount - 1; i++) {
    await component.axios.get(component.dataEndpoint + '/' + (component.offlineCount + (i * 10)), {}).then(function (response) {
      fillDatabaseWithResponse(response, component, favorites)
    }).then(function () {
      if (i === requestsAmount - 1) {
        component.percent = 100
        component.downloading = false
        component.offlineCount = component.onlineCount
      } else {
        component.percent = Math.round(((i + 1) * 100) / requestsAmount - 1)
      }
    }).catch(function (error) {
      component.offlineMode = true
      console.log(error)
    })
  }
}

export default {
  name: 'Home',
  data () {
    return {
      countEndpoint: 'https://www.wavepath.org/api/v1/practices/count',
      dataEndpoint: 'https://www.wavepath.org/api/v1/practices/get',
      // countEndpoint: 'https://wavepath.local/api/v1/practices/count',
      // dataEndpoint: 'https://wavepath.local/api/v1/practices/get',
      onlineCount: 0,
      onlinePages: 0,
      offlineCount: 0,
      offlinePages: 0,
      offlineMode: false,
      percent: 0,
      finished: false,
      downloading: true
    }
  },
  methods: {
    resynchronize () {
      let component = this
      component.$db.practices.orderBy('slug').filter(function (practice) {
        return practice.favorite === true
      }).uniqueKeys(function (values) {
        console.log('b', values)
        component.$db.practices.clear().then(() => {
          component.downloading = true
          component.offlineCount = 0
          component.offlinePages = 0
          component.percent = 0
          downloadData(component, values)
        })
      })
    },
    goToRepo () {
      this.$router.push('/categories')
    }
  },
  mounted () {
    let component = this
    this.$db.practices.count().then((value) => {
      this.offlineCount = value
      this.offlinePages = (value % 10) ? Math.floor(value / 10) + 1 : Math.floor(value / 10)
    }).then((resolve) => {
      checkOnlineCount(this).then((resolve) => {
        // noinspection JSDeprecatedSymbols
        this.onlinePages = resolve.data.pages
        this.onlineCount = resolve.data.count
        if (this.onlineCount !== this.offlineCount) {
          component.resynchronize()
        } else {
          component.percent = 100
          component.downloading = false
        }
      }).catch(function (er) {
        component.downloading = false
        component.offlineMode = true
      })
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .btn-transparent {
    border: 5px #fafafa !important;
    background-color: transparent !important;
    color: #fff;
    text-shadow: 0 0 8px #cf8000;
    font-weight: bold;
  }
  .on-white-bg {
    text-shadow: 0 0 8px #000;
  }
  .bg-logo {
    background: url('../assets/img/bg.jpg')  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>
