<template>
  <div class="container">
    <div class="card bg-almost-black text-white">
      <div class="card-header">
        <div class="row">
          <div class="col-10">
            <h5 style="margin-top: 10px">{{ title}}</h5>
          </div>
          <div class="col-2">
            <button type="button" class="close" aria-label="Close" @click="goBack"><i
              class="fa fa-times" style="font-size: 20px; color: #FFF"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <vue-markdown :source="content">

        </vue-markdown>
      </div>
    </div>
    <br/>
  </div>
</template>

<script>
import store from '../store'
import VueMarkdown from 'vue-markdown'

export default {
  name: 'Home',
  components: {
    VueMarkdown
  },
  data () {
    return {
      countEndpoint: 'https://www.wavepath.org/api/v1/practices/count',
      dataEndpoint: 'https://www.wavepath.org/api/v1/practices/get',
      practiceSlug: null,
      title: '',
      content: ''
    }
  },
  methods: {
    goBack () {
      this.$router.push(store.state.lastPage)
    }
  },
  mounted () {
    let component = this
    component.practiceSlug = this.$route.params.slug
    this.$db.practices.filter(function (practice) {
      return practice.slug === component.practiceSlug
    }).first().then((value) => {
      component.title = value.title
      component.content = value.content
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .card {
    text-align: justify;
    font-size: 12px;
  }
</style>
