<template>
  <div id="app">
    <transition
      name="fade"
      mode="out-in"
    >
      <router-view/>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
  body {
    background-color: #191919 !important;
    background: url('./assets/img/bg.jpg')  no-repeat center center fixed;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .fade-enter-active,
  .fade-leave-active {
    transition-duration: 0.2s;
    transition-property: opacity;
    transition-timing-function: ease;
  }

  .fade-enter,
  .fade-leave-active {
    opacity: 0
  }

  .bg-almost-black {
    background-color: rgba(25, 25, 25, 0.87) !important;
  }
  .bg-dark {
    background-color: #191919 !important;
  }
  .table-dark {
    color: #fff !important;
    background-color: rgba(25, 25, 25, 0.87) !important;
  }
  .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .card {
    border: 0 solid #FFF !important;
  }
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fafafa !important;
}
  ol, ul, dl {
    padding-left: 15px !important;
  }

  td {
    padding: 0 !important;
  }
  td a {
    display: block;
    padding: .75rem;
  }

  td button {
    margin: 0.75rem 0.3rem 0.3rem;
  }

  img {
    max-width: 100% !important;
  }

  h1, .h1 {
    font-size: 1.3rem !important;
  }
  h2, .h2 {
    font-size: 1.25rem !important;
  }
  h3, .h3 {
    font-size: 1.2rem !important;
  }
  h4, .h4 {
    font-size: 1.15rem !important;
  }
  h5, .h5 {
    font-size: 1.1rem !important;
  }
  .btn-xs, .btn-group-xs > .btn {
    padding: 0.2rem 0.4rem !important;
    font-size: 0.7rem !important;
    line-height: 1.5 !important;
    border-radius: 0.2rem !important;
  }

  .logo {
    max-width: 200px !important;
  }
  .resync-button {
    bottom: 0;
  }

  .progress-bar {
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
  }
  .progress {
    border-radius: 0 !important;
  }

  button, .btn {
    border-radius: 0 !important;
  }

  input {
    border-radius: 0 !important;
  }

  .btn-secondary {
    background-color: rgba(25, 25, 25, 0.87) !important;
  }

  .card-header {
    height: 60px;
  }

  .card-header {
    vertical-align: middle;
  }

  .category-button {
    position: fixed; left: 0; bottom: 0; width: 100%;
  }
  .app-pagination {
    position: fixed; left: 0; bottom: 55px; width: 100%;
  }

  .table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 0px solid #dee2e6 !important;
    border-bottom: 1px solid #727476 !important;
  }

  .favorite-column {
    vertical-align: middle !important;
    width: 5% !important;
  }

  .favorite-column a i {
    font-size: 18px;
  }

  .close {
    padding: 10px !important;
    padding-top: 5px !important;
  }

  .animatedColor {
    animation-name: color_change;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border: 1px #5c5c5c solid;
    background-color: #000;
  }
  @-webkit-keyframes color_change {
    from {
      color: #fff;
      text-shadow: 0 0 8px #cf8000;
    }
    to {
      color: #cf8000;
      text-shadow: 0 0 8px #7c5b18;
    }
  }

</style>
